{% extends 'base.html' %}

{% block title %}Your Current Events{% endblock %}

{% block content %}
	<div class="text-center my-3">
		<h1>Your Current Events</h1>
		<h1>{{ event_name }}</h1>
		<h3>Description</h3>
		<p>{{ description }}</p>
		<h3>Date</h3>
		<p>{{ event_date }}</p>	
		<h3>Status</h3>
		<p>{{ status }}</p>
		
		

		<button class="btn btn-warning mx-1 text-decoration-none">
			<a href="{% url 'todolist:index' %}" class="text-light text-decoration-none">Home</a>
		</button>
		
	</div>
{% endblock %}