{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
{% if is_user_registered == False %}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <h1 class="text-center my-3">Register</h1>
                {% if password != password2 %}
                    <p class="text-danger">Password does not match.</p>
                {% endif %}
                <form action="{% url 'todolist:register' %}" method="post">
                    <!-- This template tag provides protection against Cross Site Request Forgeries (CSRF) -->
                    <!-- CSRF occurs when a malicious website contains a link, a form button or some JavaScript that is intended to perform some action our website, using the credentials of a logged-in user -->
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="username">Username: </label>
                        <input class="form-control" id="username" type="text" name="username" value="{{ username }}" maxlength="20" required>
                    </div>

                    <div class="mb-3">
                        <label for="first_name">First Name: </label>
                        <input class="form-control" id="first_name" type="text" name="first_name" value="{{ first_name }}" maxlength="20" required>
                    </div>

                    <div class="mb-3">
                        <label for="last_name">Last Name: </label>
                        <input class="form-control" id="last_name" type="text" name="last_name" value="{{ last_name }}" maxlength="20" required>
                    </div>


                    <div class="mb-3">
                        <label for="email">Email: </label>
                        <input class="form-control" id="email" type="text" name="email" value="{{ email }}" maxlength="20" required>
                    </div>

                    <div class="mb-3">
                        <label for="password">Password: </label>
                        <input class="form-control" id="password" type="password" name="password" value="{{ password }}" maxlength="20" required>
                    </div>

                    <div class="mb-3">
                        <label for="password2">Verify Password: </label>
                        <input class="form-control" id="password2" type="password" name="password2" value="{{ password2 }}" maxlength="20" required>
                    </div>

                    <div class="text-center">
                        <input class="btn btn-success" type="submit" value="Register">
                    </div>

                </form>
            </div>
        </div>
    </div>
{% else %}
    <h1 class="text-center my-3">User Successfully Created!</h1>
    <p class="text-center my-3">The account for {{first_name}} {{last_name}} has been successfully created.</p>
{% endif %}

{% endblock %}
